body {
	margin: 0px auto;
	font-family: 'Dosis', Verdana, sans-serif;
}

/*************************
 *  Box O' Facts
 ************************/
#fact {
	margin: 0px auto;
	margin-top: 50px;
	width: 600px;
	text-align: center;
}
#the-why {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 50px;
	line-height: 68px;
	letter-spacing: 4px;
	display: block;
	margin-bottom: 30px;
}
#the-what {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 4px;
	margin: 0px;
	margin-bottom: 30px;
	display: block;
}
#the-how {
	font-weight: 400;
	display: block;
	text-align: justify;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 40px;
}

#credits {
	border-top: 1px dashed black;
	padding-top: 20px;
}

h1 {
	border-bottom: 1px dashed black;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 30px;
}
/*************************
 *  Prev/Next links
 ************************/
.moar, .moar:visited{
	/*position: absolute;
	top: 30%;*/
	width: 40px;
	height: 40px;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
	color: white;
	background: black;
	text-align: center;
	border: 3px solid white;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	margin-top: 60px;
}
.moar:hover {
	background-color: #ccc;
	text-decoration: none;
	cursor: pointer;
}

#next {
	
	float: right;
}
#prev {
	float: left;
}

/*************************
 *  Search bar
 ************************/
.go, .go:visited{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

input[type="text"] {
	font-size: 20px;
	font-weight: 600;
	width: 200px;
	background-color: white;
	border: 1px solid black;

	padding: 4px 6px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	margin-bottom: 10px;
}

/*************************
 *  Hacks
 ************************/
/* not fighting with default a:link to break everything */
.link, .link:visited {
	color: black;
	text-decoration: underline;
}

.link:hover, .go:hover {
	text-decoration: none;
	color: #ccc;
}






